<main class="p-5">
    <h1>
        <i class="bi bi-emoji-heart-eyes"></i>
        <i class="fa-brands fa-slack" style="color: #e6b065;"></i>
        <i class="fa-brands fa-slack fa-spin-pulse fa-lg" style="color: #e6b065;"></i>
    </h1>
    <button class="btn btn-success">
        <i class="bi bi-emoji-heart-eyes"></i>
        <i class="fa-brands fa-slack fa-spin fa-lg" style="color: #e6b065;"></i>
    </button>
    <div>
        <img src="/svg/car.svg">
    </div>

</main>