<div>

    <title>
        Car
    </title>

    {{>title data="Car" big=true}}

    <main>
        <section>
            <div>
                <ul>
                    {{}}

                </ul>
                <br>
                <hr>
                </ul>
            </div>
        </section>
    </main>
</div>