{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section class="mb-2">
            {{>title data="My educationss" big=true}}
            <ul>
                {{#each education}}
                <li class="pb-3">{{name}} {{#if isEnd includeZero=false}} (ще в процесі) {{/if}}</li>
                {{/each}}
            </ul>
        </section>
        <section>
            {{>title data="My certificates" big=false}}
            <ul>
                {{#each certificates}}
                <li class="pb-3">{{name}} ({{id}})</li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}