{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="mt-5">
    <h3 class="mt-5 mb-3">Список сторінок</h3>
    <p>Перелік виконаних проектів</p>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-3 mb-1">
            <a href="http://localhost:3000/summary" class="nav-link text-center column">Summary</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary column mt-2 mb-1">
            <a href="http://localhost:3000/education" class="nav-link text-center column">Education</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/work" class="nav-link text-center column">Work</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/person" class="nav-link text-center column">Person</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/bio" class="nav-link text-center column">Bio</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/program" class="nav-link text-center column">Program</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/web" class="nav-link text-center column">Web</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/js" class="nav-link text-center column">Js</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/car" class="nav-link text-center column">Car</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/mac" class="nav-link text-center column">Mac</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/facebook" class="nav-link text-center column">Facebook</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/task21" class="nav-link text-center column">Task21</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/task22" class="nav-link text-center column">Task22</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/task31" class="nav-link text-center column">Task31</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/shophome" class="nav-link text-center column">Shophome</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/shoporder" class="nav-link text-center column">Shoporder</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/shopcart" class="nav-link text-center column">Shopcart</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/shopprofile" class="nav-link text-center column">Shopprofile</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/shopreview" class="nav-link text-center column">Shopreview</a>
        </button>
    </div>
    <div class="col-4">
        <button class="col-5 btn btn-primary mt-2 mb-1">
            <a href="http://localhost:3000/shopcatalog" class="nav-link text-center column">Shopcatalog</a>
        </button>
    </div>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}