<div>

    <title>
        JS
    </title>

    {{>title data="JS" big=true}}

    <main>
        <section>
            <div>
                <ul>
                    <strong>{{name}}</strong>
                    <p><i><b>description:</b></i>

                        <br>

                </ul>
            </div>
        </section>
    </main>
</div>