{{!--
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

<head>
	<title class="ms-3 my-3">
		{{page.title}}
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />
</head>

<body class="p-5">
	<div class="mb-5">
		{{>nav}}
	</div>

	<hr class="m-5">

	{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
	{{{body}}}
	<div class="mb-5">
		{{>footer}}
	</div>
</body>




</html>